In [5]:
import pandas as pd

In [6]:
all_mutations = pd.read_csv("all_mutations.csv")
indel_mutations = pd.read_csv("indel_mutations.csv")
mutation_summary_by_country = pd.read_csv("mutation_summary_by_country.csv")

In [7]:
all_mutations.head()

   Country   Sample_ID  Position Ref Alt Type
0  sample1  PV361312.1        43   t   q  SNP
1  sample1  PV361312.1        44   a   u  SNP
2  sample1  PV361312.1        45   r   e  SNP
3  sample1  PV361312.1        46   g   r  SNP
4  sample1  PV361312.1        47   e   y  SNP

In [8]:
indel_mutations.head()

   Country   Sample_ID  Position Ref Alt Type
0  sample1  PV361312.1        28   -   C  INS
1  sample1  PV361312.1        52   C   -  DEL
2  sample1  PV361312.1       230  CA   -  DEL
3  sample1  PV361312.1       253   G   -  DEL
4  sample1  PV361312.1       263   -   A  INS